<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ufree">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FriendProfileActivity"></activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewEventActivity" />
        <activity
            android:name=".CalenderPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewEventActivity" />
        <activity
            android:name=".SingleFriendEventsActivity"
            android:label="@string/title_activity_single_friend_events"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ufree.MainActivity" />
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogIn"
            android:label="@string/title_activity_log_in"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>